nav.leftSide{
    z-index: 1002;
    transition: all var(--transition-time) ease-in-out;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: var(--nav-size);
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(160deg, var(--gradient-1), var(--gradient-1), var(--gradient-2), var(--gradient-3));
}
html[data-nav-show="true"] nav.leftSide, 
html[data-nav-show="true"] .nav-shadow{
    border-top-left-radius: 0;
    border-top-right-radius: var(--border-radius-lg);
    border-bottom-right-radius: var(--border-radius-lg);
    border-bottom-left-radius: 0;
}
html[data-nav-show="true"] .top-nav{
    transform: translateY(-4.5rem);
}
.top-nav{
    z-index: 1002;
    transition: all var(--transition-time) ease-in-out;
    position: fixed;
    height: var(--nav-slim);
    top: 0;
    left: 0;
    width: 100%;
    justify-content: center;
    padding-left: var(--main-spacing-horizontal);
    padding-right: var(--main-spacing-horizontal);
    background-color: var(--primary);
}
.top-nav .nav-content{
    height: 100%;
    width: 100%;
    padding: 0;
    align-items: center;
    justify-content: space-between;
}
.top-nav .button-menu a{
    padding: 0.25rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.top-nav .button-menu:hover{
    box-shadow: 0 4px 10px rgba(0,0,0,.03) !important;
    background: rgba(255,255,255,.05);
}
.top-nav .button-menu a svg{
    stroke: var(--text-color-light);
}
.top-nav .nav-content .logo{
    margin: 0 !important;
}
html[data-nav-show="false"] .top-nav, 
.top-nav .nav-shadow{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: var(--border-radius-lg);
    border-bottom-left-radius: var(--border-radius-lg);
}
html[data-nav-show="false"] nav.leftSide{
    transform: translateX(-18rem);
}
.nav-shadow{
    width: 100%;
    height: 100%;
    position: absolute;
    box-shadow: var(--menu-shadow);
    pointer-events: none;
    z-index: 1001;
}
.nav-content{
    flex-direction: column;
    height: 100%;
    padding-top: var(--main-spacing-vertical);
    padding-bottom: var(--main-spacing-vertical);
    align-items: center;
}
.nav-content .logo{
    margin-bottom: 20px;
    text-align: center;
}
.nav-content .logo a{
    overflow: hidden;
    display: inline-block;
    width: 100px;
    min-height: 35px;
    color: var(--text-color-light);
    font-size: 1.5rem;
}
.nav-content .user-content{
    flex-direction: column;
    height: auto;
    min-height: 100px;
}
.nav-content .user-content a{
    text-align: center;
    transition: opacity var(--transition-time);
    flex-direction: column;
    margin-bottom: 5px;
    height: auto;
    padding: 10px;
    border-radius: var(--border-radius-md);
    margin-right: 0;
}
.nav-content .user-content a:hover{
    box-shadow: var(--menu-shadow);
    background-color: rgba(var(--text-color-light-rgb), .1);
}
.nav-content .user-content a img{
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    border-radius: var(--border-radius-xl);
}
.nav-content .user-content .name{
    color: var(--text-color-light);
    font-family: var(--font-heading);
    line-height: 1;
    font-size: 13px;
}
html[data-left_nav_lock="true"] .nav-content ul .locker .open{
    display: none;
}
html[data-left_nav_lock="false"] .nav-content ul .locker .lock{
    display: none;
}
html[data-light-mode="true"] .nav-content ul .theme .dark{
    display: none;
}
html[data-light-mode="false"] .nav-content ul .theme .light{
    display: none;
}
.nav-content ul.options a{
    padding: 0.25rem 0.5rem;
    border-radius: var(--border-radius-md);
    height: 100%;
    display: inline-flex;
    align-items: center;
}
.nav-content ul.options a:hover{
    background-color: rgba(var(--text-color-light-rgb), .1);
    box-shadow: var(--menu-shadow);
}
.nav-content ul.options a svg{
    stroke: var(--text-color-light);
}
.nav-content .menu-container{
    display: flex;
    align-self: flex-start;
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 16rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.nav-content .menu-container ul{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
}
.nav-content .menu-container ul li{
    display: flex;
    padding: 0.75rem 1rem;
    border-radius: var(--border-radius-lg);
    width: 100%;
    transition: color var(--transition-time);
    margin-bottom: 0.1rem;
    margin-top: 0.1rem;
    list-style-type: none;
    color: var(--text-color-light);
    align-items: center;
}
.nav-content .menu-container ul li svg{
    margin-right: .5rem;
}
.nav-content .menu-container ul li:hover,
.nav-content .menu-container ul li.active{
    background: rgba(var(--text-color-light-rgb), .1);
    box-shadow: 0 4px 10px rgba(0,0,0,.03);
}