.carousel{
    height: 37.5rem !important;
}

.carousel-inner{
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
}

.carousel-control-next{
    right: -4%;
}
.carousel-control-prev{
    left: -4%;
}

.card-body{
    width: 88%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.card-body .text{
    margin-top: 2rem;
}
.card-body a{
    color: var(--primary);
}
.card-body a:hover{
    color: rgba(var(--primary-rgb), 0.7);
}

.react:nth-child(1){
    margin-left: 0;
}
.react{
    margin-left: 1rem;
}

.react svg{
    height: 15px;
    width: 15px;
    fill: var(--primary);
}
.react span{
    margin-left: .1rem;
    color: var(--body);
}

.reactions{
    margin-top: 2rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.reactions::-webkit-scrollbar{
    display: none;
}

.user-comment h5{
    color: var(--primary);
    font-size: 87.5%;
}

@media screen and (max-width: 768px){
    .carousel-control-prev span,
    .carousel-control-next span{
        display: none;
    }
    .carousel-inner{
        width: 100%;
    }  

    .carousel{
        height: 22rem !important;
    }
}

@media screen and (max-width: 512px){
    .carousel{
        height: 15rem !important;
    }
}