main{
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    right: 0;
}
html[data-nav-show="false"] main{
    padding-top: 6rem !important;
}
main .title{
    margin-bottom: 1.25rem;
}
main .title h1{
    line-height: 1;
}
main .sw-13 img{
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-xl)!important;
}
main .conteiner .card:hover{
    cursor: pointer;
    border: 1px solid;
    border-color: var(--primary)!important;
}
.memberTeam .text-small{
    text-transform: none;
}
.memberTeam .btn{
    margin-left: 7px !important;
}
.memberTeam .btn.dropdown-toggle,
.memberTeam .btn-submit{
    color: var(--text-color-dark) !important;
    background-color: var(--foreground);
    border: 1px solid var(--secondary);
}
.memberTeam .btn.dropdown-toggle:hover,
.memberTeam .btn-submit:hover{
    color: var(--text-color-light) !important;
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
}
.memberTeam .btn-add{
    color: var(--text-color-dark) !important;
    background-color: var(--background);
    border: none;
}
.memberTeam .btn-add:hover{
    color: var(--primary) !important;
}

.updates .container .col:nth-child(1){
    margin-right: .5rem;
}
.updates .container .col:nth-child(2){
    margin-left: .5rem;
}

.blured{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1001;
}
.blured > div{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    background-color: rgba(var(--foreground-rgb), .7);
}
.blured img{
    height: 80%;
    z-index: 1002;
}