main{
    height: 100vh;
    overflow: scroll;
}
main .title{
    margin-bottom: 1.25rem;
}
main .title h1{
    line-height: 1;
}
main .sw-13 img{
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-xl)!important;
}
main .conteiner .card:hover{
    cursor: pointer;
    border: 1px solid;
    border-color: var(--primary)!important;
}
.memberTeam .text-small{
    text-transform: none;
}
.memberTeam .btn{
    margin-left: 7px;
}
.memberTeam .btn.dropdown-toggle,
.memberTeam .btn-submit{
    color: var(--text-color-dark) !important;
    background-color: var(--foreground);
    border: 1px solid var(--secondary);
}
.memberTeam .btn.dropdown-toggle:hover,
.memberTeam .btn-submit:hover{
    color: var(--text-color-light) !important;
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
}
.memberTeam .btn-add{
    color: var(--text-color-dark) !important;
    background-color: var(--background);
    border: none;
}
.memberTeam .btn-add:hover{
    color: var(--primary) !important;
}