@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
  font-family: LatoSemibold;
  font-weight: 600;
  src: url("../fonts/Lato-Semibold.woff") format("woff");
}

html{
    --border-radius-lg: 16px;
    --border-radius-xl: 50px;
    --border-radius-md: 10px;
    --border-radius-sm: 6px;

    --nav-size: 18rem;
    --nav-slim: 4rem;

    --primary: #1ea8e7;
    --secondary: #6cdbef;
    --tertiary: #5de3c8;
    --quaternary: #558df3;
    --primary-rgb: 30, 168, 231;
    --secondary-rgb: 108, 219, 239;
    --tertiary-rgb: 93, 227, 200;
    --quaternary-rgb: 85, 141, 243;
    --primary-darker: #1b9ad4;
    --secondary-darker: #61c6d8;
    --tertiary-darker: #54ccb4;
    --quaternary-darker: #4c7dd6;
    --gradient-1: #1ea8e7;
    --gradient-2: #21aff0;
    --gradient-3: #23b3f4;
    --gradient-1-lighter: #2abdff;
    --gradient-1-darker: #1fa5e2;
    --text-color-dark: #343a40;
    --text-color-light: #fff;
    --text-color-light-rgb: 255, 255, 255;
    --foreground: #fff;
    --foreground-rgb: 255, 255, 255;
    --background: #f9f9f9;
    --body: #4e4e4e;
    --muted: #afafaf;
    --alternate: #7c7c7c;
    --alternate-rgb: 124, 124, 124;

    --menu-shadow: 0px 3px 10px rgba(0, 0, 0, 0.12);

    --transition-time-short: 200ms;
    --transition-time: 400ms;

    --font: "Lato", sans-serif;
    --font-semibold: "LatoSemibold", sans-serif;
    --font-heading: "Montserrat",sans-serif;

    --main-spacing-vertical: 2rem;
    --main-spacing-horizontal: 2.5rem;

    --small-title-heading: 2rem;

    --card-spacing: 2rem;

    --input-height: 2.25rem;
    --input-height-small: 1.825rem;
}

html[data-light-mode="false"]{
    --background: #4e4e4e;
    --foreground: #343a40; 
    --foreground-rgb: 52, 58, 64;
    --text-color-dark: #fff;
    --muted: #d8d8d8;
    --body: #f9f9f9;
    --alternate: #f9f9f9;
}

@media screen and (max-width: 512px){
    html{
        --main-spacing-vertical: 1rem;
        --main-spacing-horizontal: 1.25rem;
    
        --card-spacing: 1.75rem;
    }   
}

html[data-light-mode="false"] input[disabled]{
    background-color: var(--background);
}
html[data-light-mode="false"] input:focus{
    background-color: var(--background);
    color: #fff;
}

body{
    width: 100%;
    font-family: var(--font);
    font-weight: 400;
    font-size: 87.5%;
    background-color: var(--background);
    overflow: hidden;
}

main svg{
    stroke: var(--primary);
}

main p, main div{
    color: var(--text-color-dark);
}

main{
    width: calc(100% - var(--nav-size));
    padding-left: var(--main-spacing-horizontal);
    padding-right: var(--main-spacing-horizontal);
    padding-top: var(--main-spacing-vertical);
    padding-bottom: var(--main-spacing-vertical);
    transition: all var(--transition-time) ease-in-out;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    right: 0;
}

html[data-main-full="true"] main{
    width: 100% !important;
}
html[data-nav-show="false"] main{
    padding-top: 6rem !important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    color: var(--body);
    font-weight: 400;
    line-height: 1.25;
}
.h5, h5 {
    font-size: 1.1em;
}
.h4, h4 {
    font-size: 1.35em;
}

a{
    transition: color var(--transition-time-short);
    cursor: pointer;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--primary);
}
main a:hover{
    color: var(--primary) !important;
}

.display-4 {
    font-family: var(--font-heading);
    font-size: 1.85em;
    line-height: 1.2;
    font-weight: 300;
}
.display-6 {
    font-family: var(--font-heading);
    font-size: 1.6em;
    line-height: 1.2;
    font-weight: 300;
}

.small-title {
    font-family: var(--font-heading);
    font-weight: 400;
    margin-bottom: 1rem;
    font-size: 1em;
    color: var(--primary);
    height: var(--small-title-height);
}

.user img{
    object-fit: cover;
}

.sw-13 {
    width: 6.5rem !important;
}
.sh-13{
    height: 6.5rem !important;
} 
.sh-11{
    height: 5.5rem !important;
} 
.sw-3 {
    width: 1.5rem !important;
}
.sh-8 {
    height: 4rem !important;
}
.sw-8 {
    width: 4rem !important;
}
.sh-6{
    height: 3rem !important;
}
.sw-5{
    width: 2.5rem !important;
}
.sh-5{
    height: 2.5rem !important;
}
.sw-6{
    width: 3rem !important;
}
.sw-10{
    width: 5rem !important;
}
.sh-40 {
    height: 20rem !important;
}
.sh-17{
    height: 8.5rem;
}
.sw-14{
    width: 7rem;
}
.sh-14{
    height: 7rem;
}
.sh-75{
    height: 37.5rem !important;
}

.heading{
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 0.7em;
}

.title a:hover{
    color: var(--primary) !important;
}

.col-form-label, .form-label {
    color: var(--alternate);
}

.card {
    box-shadow: 0 4px 10px rgba(0,0,0,.03)!important;
    background: var(--foreground);
    border-radius: var(--border-radius-lg);
    border: 1px solid var(--foreground);
}
.card .card-body{
    padding: var(--card-spacing);
}

.text-muted {
    color: var(--muted)!important;
}

.text-small {
    font-size: .8em !important;
    text-transform: uppercase;
}

.text-alternate {
    color: var(--alternate)!important;
}

.rounded-xl{
    border-radius: var(--border-radius-xl)!important;
}

.btn-group-sm > .btn, .btn-sm {
    padding: 8px 14px;
    font-size: .9em;
    border-radius: var(--border-radius-md);
    line-height: 1;
    height: 30px;
}
.btn {
    font-family: var(--font);
    padding: 0.2em 20px;
    font-size: 1em;
    line-height: 1rem;
    box-shadow: initial !important;
    transition: all var(--transition-time-short);
    border-radius: var(--border-radius-md);
    color: var(--text-color-dark) !important;
    white-space: nowrap;
    border: 1px solid var(--bs-red);
}
.btn:hover{
    color: var(--text-color-light) !important;
    background-color: var(--bs-red);
    border: 1px solid var(--bs-red);
}

.form-control{
    font-size: 1em;
    height: var(--input-height-small);
    color: var(--body);
    box-shadow: none !important;
    background-color: var(--foreground);
    border-color: var(--alternate);
    border-radius: var(--border-radius-md);
    filter: none;
    transition: border-color .15s ease-in-out,
                height var(--transition-time-short) ease-in-out;
    ;
 }
.form-control:focus{
    border-color: var(--secondary);
}

.card .card-img-top {
    width: 100%;
    border-radius: initial;
    border-top-left-radius: var(--border-radius-lg);
    border-top-right-radius: var(--border-radius-lg);
    object-fit: cover;
}
.card [class*=card-img-horizontal] {
    border-top-left-radius: var(--border-radius-lg);
    border-bottom-left-radius: var(--border-radius-lg);
    border-bottom-right-radius: none;
    border-top-right-radius: none;
    height: 100%;
    object-fit: cover;
}

.body-link{
    color: var(--body) !important;
}

.search-input-container input {
    width: calc(100% - 25px);
    border: initial;
}
.bg-foreground {
    background-color: var(--foreground)!important;
    color: var(--primary)!important;
}
.shadow {
    box-shadow: 0 4px 10px rgba(0,0,0,.03)!important;
}

.search-magnifier-icon{
    color: var(--muted);
    position: absolute;
    right: -0.5rem;
    margin-right: 1rem;
    top: 0;
    width: 40px;
    height: 100%;
    text-align: center;
    cursor: pointer;
}

.btn-foreground-alternate{
    color: var(--alternate) !important;
}

.dropdown-menu {
    line-height: 1.3;
    background-color: var(--foreground);
    border-radius: var(--border-radius-md);
    border: none !important;
    color: var(--body);
    font-family: var(--font);
    font-size: 1em;
}
.dropdown-menu a{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: var(--body);
}

.page-item {
    margin: 0 5px;
    text-align: center;
}

.page-link {
    outline: initial!important;
    box-shadow: initial!important;
    border: initial;
    padding: 8px 9px;
    line-height: 1.5;
    font-size: 1em;
    width: var(--input-height);
    height: var(--input-height);
    color: var(--primary);
    border-radius: var(--border-radius-md)!important;
    background: var(--foreground);
}
.page-item.active a{
    background-color: var(--primary) !important;
}
.page-item.disabled svg{
    stroke: var(--alternate);
}

.load{
    z-index: 1004;
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 0;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(var(--foreground-rgb), 0.7);
    transition: var(--transition-time);
}
.load.on{
    opacity: 0;
    background-color: rgba(var(--foreground-rgb), 1);
    display: flex;
}
.load.active{
    opacity: 1;
    display: flex;
}
.load img{
    height: 5rem;
}

.dropdown-menu{
    z-index: 1005;
}
.dropdown-menu a:focus{
    background-color: var(--primary) !important;
}
.dropdown-item.active{
    background: none;
}
.dropdown-item:hover{
    background-color: rgba(var(--alternate-rgb), 0.1) !important;
    color: var(--primary) !important;
}

.page-item.disabled a{
    background-color: rgba(var(--foreground-rgb), 0.6) !important;
}
.page-item.disabled a svg{
    stroke: var(--primary);
}