{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'registration/css/index.css' %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="height=device-height, initial-scale=1">
    </head>
    <body>
        <div class="leftBar"></div>
        <main>
            <div class="content">
                {% if not accept %}
                    <h4>Sign up to MOB</h4>
                    <form method="post" action="">
                        {% csrf_token %}
                        <div class="wrap">
                            <div class="group">
                                <label for="name">Full Name</label>
                                <input name="name" type="text" placeholder="Enter Full Name" required/>
                            </div>
                            <div class="group">
                                <label for="nick_name">Nick Name</label>
                                <input name="nick_name" placeholder="Enter Nick Name" required/>
                            </div>
                        </div>
                        <div class="group">
                            <label for="phone">Phone Number</label>
                            <input type="tel" name="phone" placeholder="Enter Phone Number" required/>
                        </div>
                        <div class="group">
                            <label for="email">Email</label>
                            <input type="email" name="email" placeholder="Enter Email" required/>
                        </div>
                        <div class="group">
                            <label for="password">Password</label>
                            <input type="password" name="password" placeholder="Enter Password" required/>
                        </div>
                        <button type="submit">Create Account</button>
                    </form>
                {% else %}
                    <h4>Now you have an account in MOB</h4>
                {% endif %}
            </div>
        </main>
        <script>
            let gr = document.getElementsByClassName("leftBar")[0];
            window.addEventListener("mousemove", function(e){
                gr.style.backgroundPosition = `${50 - (e.clientX - window.innerWidth / 2) * 0.01}% ${50 - (e.clientY - window.innerHeight / 2) * 0.01}%`;
            });
        </script>
    </body>
</html>